<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-group" th:fragment="input(labelText, field, validationErrorMessage)">
    <label class="bmd-label-floating" th:text="${labelText}"></label>
    <input  type="text" class="form-control" th:field="${field}"  >
    <p th:if="${#fields.hasErrors('title')}" th:errors="${field}" th:text="${validationErrorMessage}"></p>
</div>
</body>
</html>
