<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head-store-detail">
<body>
<header th:replace="fragments/header :: header" />

<section th:replace="fragments/parallax-window :: parallax-window"></section>

<div th:replace="fragments/bread-crump :: bread-crump" ></div>

<!--MAIN AREA-->

<div class="container margin_60_35">
    <div class="row">

        <div class="col-md-3">
            <div class="box_style_1">
                <ul id="cat_nav">
                    <li><a th:href="'/store/detail/'+ ${store.storeId}" class="active">Restourant Hakkinda</a></li>
                </ul>
            </div><!-- End box_style_1 -->

            <div class="box_style_2 hidden-xs" id="help">
                <i class="icon_lifesaver"></i>
                <h4>Need <span>Help?</span></h4>
                <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                <small>Monday to Friday 9.00am - 7.30pm</small>
            </div>
        </div><!-- End col-md-3 -->

        <div class="col-md-6">
            <div class="box_style_2" id="main_menu">
                <h2 class="inner">Menüler</h2>

                <div th:each="category : ${store.categories}">
                    <h3 class="nomargin_top" id="starters"  th:text="${category.name}"></h3>
                    <p th:text="${category.text}"></p>

                    <table class="table table-striped cart-list">
                        <thead>
                        <tr>
                            <th>
                                Item
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Order
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="menu : ${category.menus}">
                            <td>
                                <figure class="thumb_menu_list"><img src="/img/menu-thumb-1.jpg" alt="thumb"></figure>
                                <h5 th:text="${menu.name}"></h5>
                                <p>
                                    <span th:each="item : ${menu.items}" th:text="${item.product.title} +' + ' "></span>
                                </p>
                            </td>
                            <td>
                                <strong th:text="'₺'+ ${menu.price}"></strong>
                            </td>
                            <td class="options">
                                <div class="dropdown dropdown-options">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="icon_plus_alt2"></i></a>

                                    <div class="dropdown-menu">
                                        <form action="/carts" method="post" class="add-menu" >
                                            <input type="hidden" th:name="menuId" th:value="${menu.id}" />
                                            <input type="hidden" th:name="quantity" th:value="1" />
                                            <input type="hidden" th:name="store" th:value="${store.storeId}" />
                                            <div th:each="option, index : ${menu.options}">
                                                <h5 th:text="${option.name}"></h5>

                                                <div th:if="${option.type eq 'ONE_SELECT'}">
                                                    <input type="hidden" th:name="'selectedOptions['+ ${index.index} +'].optionId'" th:value="${option.id}" />
                                                    <label th:each="value, valueIndex : ${option.values}">
                                                        <input type="radio" th:value="${value.id}" th:name="'selectedOptions['+ ${index.index} +'].selectedValues[0].selectedValue'" th:text="${value.name}" > <span th:text="'₺'+ ${value.price}"></span>
                                                    </label>
                                                </div>
                                                <div th:if="${option.type eq 'MULTIPLE_SELECT'}">
                                                    <input type="hidden" th:name="'selectedOptions['+ ${index.index} +'].optionId'" th:value="${option.id}" />
                                                    <label th:each="value, valueIndex : ${option.values}">
                                                        <input type="checkbox" th:value="${value.id}"  th:name="'selectedOptions['+ ${index.index} +'].selectedValues['+ ${valueIndex.index} +'].selectedValue'" th:text="${value.name}"> <span th:text="'₺'+ ${value.price}"></span>
                                                    </label>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-submit" >Sepete Ekle</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>

            </div><!-- End box_style_1 -->
        </div><!-- End col-md-6 -->

        <div th:replace="fragments/cart :: cart(cartRedirectUrl='/payment/take-away', showBtn='true', showRemoveEntryButton='true')">

        </div>
        <!-- End col-md-3 -->

    </div><!-- End row -->
</div>
<footer th:replace="fragments/footer :: footer"> </footer>

<div th:replace="fragments/layer :: layer"></div>

<div th:replace="fragments/search :: search"></div>

<div th:replace="fragments/scripts :: scripts"></div>

<script  src="/js/cat_nav_mobile.js"></script>
<script>$('#cat_nav').mobileMenu();</script>
<script src="/js/theia-sticky-sidebar.js"></script>
<script src="/js/store-detail.js" />

<script>
    jQuery('#sidebar').theiaStickySidebar({
        additionalMarginTop: 80
    });
</script>
<script>
    $('#cat_nav a[href^="#"]').on('click', function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top - 70
        }, 900, 'swing', function () {
            window.location.hash = target;
        });
    });
</script>
<div id="warning-popup" style="display:none" th:if="${cart.store ne null}">
    <img src="/img/popup_img.jpg" alt="" class="pop_img" />
    <h3 id="pop_msg">
        Baska bir restourantta sepetiniz bulunmaktadir. Bu sepeti silmek ister misiniz?
    </h3>
    <div>
        <a class="btn_1 add_bottom_15" href="/carts/delete" >Sepeti Sil</a> <a class="btn_1 add_bottom_15" th:href="'/store/'+ ${cart.store.storeId}" >Restouranta Git</a>
    </div>
</div>
<script type="text/javascript" src="/js/pop_up.min.js" th:if="${showPopup}"></script>
<script type="text/javascript" src="/js/pop_up_func.js" th:if="${showPopup}"></script>

</body>
</html>
