<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head-store-list">
</head>
<body>
<header th:replace="fragments/header :: header-map-list" th:class="sticky" id="map_listing_header" value="map_listing_header"/>
<div id="preloader" >
    <div class="sk-spinner sk-spinner-wave" id="status">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!--MAIN AREA-->
<div class="container-fluid full-height">
    <div class="row row-height">
        <div class="col-lg-7 col-md-6 content-left">
            <div id="filters_map">
                <a data-toggle="collapse" href="#collapseFiltesmap" aria-expanded="false" aria-controls="collapseFiltesmap" class="btn_filter" id="open_filters"></a>
                <div class="pull-right">
                    <a href="#" class="btn_filter search-overlay-menu-btn-custom" id="search_bt" onclick="fillList()"></a>
                </div>
                <div id="collapseFiltesmap" class="collapse">
                    <div class="filter_type clearfix">
                        <h6>Distance</h6>
                        <div class="range_wp">
                            <input type="text" id="range" name="range" value="">
                        </div>
                    </div>
                    <div class="filter_type clearfix">
                        <h6>Type</h6>
                        <ul>
                            <li th:each="category : ${categories}"><label><input type="checkbox" checked class="icheck category-check" th:value="${category.id}" th:text="${category.name}"></label></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="store-list">

            </div>
            <!--<div class="strip_list" th:each="store : ${stores}">-->
                <!--&lt;!&ndash;<div class="ribbon_1">&ndash;&gt;-->
                    <!--&lt;!&ndash;Popular&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="row">-->
                    <!--<div class="col-md-9 col-sm-9">-->
                        <!--<div class="desc">-->
                            <!--<div class="thumb_strip">-->
                                <!--<a href="detail_page.html"><img th:attr="src=@{'data:image/png;base64,'+ ${store.storeInfo.image}}" alt=""></a>-->
                            <!--</div>-->
                            <!--<div class="rating">-->
                                <!--<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> (<small><a href="#0">98 reviews</a></small>)-->
                            <!--</div>-->
                            <!--<h3 th:text="${store.name}"></h3>-->
                            <!--<div class="type" th:text="${store.name}">-->
                            <!--</div>-->
                            <!--<div class="location" th:text="${store.storeInfo.address}">-->
                                <!--<span class="opening">Opens at 17:00.</span> Minimum order: $15-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li>Take away<i class="icon_check_alt2 ok"></i></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li>Delivery<i class="icon_check_alt2 ok"></i></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 col-sm-3">-->
                        <!--<div class="go_to">-->
                            <!--<div>-->
                                <!--<a href="detail_page.html" class="btn_1">View Menu</a>-->
                                <!--<a th:attr="onclick=@{'onHtmlClick('+ ${store.id} +')'}" class="btn_listing">View on Map</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash; End row&ndash;&gt;-->
            <!--</div>-->
        </div>
        <!-- End content-left-->

        <div class=" col-lg-5 col-md-6 map-right">
            <div id="map_listing"></div>
            <!-- map-->
        </div>

    </div>
    <!-- End row-->
</div>

<footer th:replace="fragments/footer :: footer"> </footer>

<div th:replace="fragments/layer :: layer"></div>

<div th:replace="fragments/search :: search"></div>

<div th:replace="fragments/scripts :: store-scripts"></div>

</body>
</html>
