<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head-store-detail">
<body>
<header th:replace="fragments/header :: header" />

<div th:replace="fragments/bread-crump :: bread-crump" ></div>

<!--MAIN AREA-->

<div class="container margin_60_35">
    <div class="row">

        <div class="container margin_60_35">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="box_style_2">
                        <h2 class="inner">Order confirmed!</h2>
                        <div id="confirm">
                            <i class="icon_check_alt2"></i>
                            <h3>Tesekkurler</h3>
                        </div>
                        <h4>Siparis Ozeti</h4>
                        <table class="table table-striped nomargin">
                            <tbody>
                            <tr th:each="cartEntry : ${order.cart.cartEntries}" >
                                <td th:if="${cartEntry.productDTO ne null}">
                                    <strong th:text="${cartEntry.quantity}"></strong> <span th:text="${cartEntry.productDTO.title}"></span>
                                </td>

                                <td th:if="${cartEntry.menuDTO ne null}">
                                    <strong th:text="${cartEntry.quantity}"></strong> <span th:text="${cartEntry.menuDTO.title}"></span>
                                </td>

                                <td>
                                    <strong class="pull-right" th:text="'₺'+${cartEntry.price}"> </strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->

    </div><!-- End row -->
</div>
<footer th:replace="fragments/footer :: footer"> </footer>

<div th:replace="fragments/layer :: layer"></div>

<div th:replace="fragments/search :: search"></div>

<div th:replace="fragments/scripts :: scripts"></div>

<script  src="/js/cat_nav_mobile.js"></script>
<script>$('#cat_nav').mobileMenu();</script>
<script src="/js/theia-sticky-sidebar.js"></script>
<script src="/js/store-detail.js" />

<script>
    jQuery('#sidebar').theiaStickySidebar({
        additionalMarginTop: 80
    });
</script>
<script>
    $('#cat_nav a[href^="#"]').on('click', function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top - 70
        }, 900, 'swing', function () {
            window.location.hash = target;
        });
    });
</script>

</body>
</html>
