<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head-store-detail">
<body>
<header th:replace="fragments/header :: header" />

<div th:replace="fragments/bread-crump :: bread-crump" ></div>

<!--MAIN AREA-->

<div class="container margin_60_35">
    <div class="row">

        <div class="col-md-3" id="sidebar">
            <div class="theiaStickySidebar">
                <div class="box_style_1" id="faq_box">
                    <ul id="cat_nav">
                        <li><a href="#payment" class="active">Siparis Listesi</a></li>
                        <li><a href="#works">How it works</a></li>
                        <li><a href="#delay">Delivery delay</a></li>
                        <li><a href="#takeaway">Takeaway</a></li>
                        <li><a href="#preorder">Preorder</a></li>
                        <li><a href="#register_2">Register</a></li>
                        <li><a href="#pricing">Pricing</a></li>
                        <li><a href="#privacy">Privacy</a></li>
                    </ul>
                </div><!-- End box_style_1 -->
            </div><!-- End theiaStickySidebar -->
        </div>

        <div class="col-md-6">
            <h3 th:text="${order.store.name}"></h3>
            <h5 th:text="'Siparisi alis Tarihi : '+ ${order.cart.takeAwayTime}"></h5>
            <a th:href="'/my-account/create/cancel-request/'+ ${order.id}" th:if="${order.cancellable}">Siparisi Iptal Et</a>

            <div class="strip_list" th:each="entry : ${order.cart.cartEntries}">
                <div class="row" >
                    <div class="col-md-9 col-sm-9">
                        <div class="desc">
                            <div class="thumb_strip">
                                <a href="detail_page.html"><img th:attr="src=@{'data:image/png;base64,'+ ${order.store.storeInfo.image}}" alt=""></a>
                            </div>

                            <h3 th:text="${entry.menuDTO.name}"></h3>
                            <div class="type" >
                                Toplam Urun Fiyati : <strong th:text="'₺'+ ${entry.totalPrice}" ></strong>
                            </div>
                            <div th:each="option : ${entry.options}">
                                <span th:each="value : ${option.selectedValues}" th:text="${value.text} +','"></span>
                            </div>

                        </div>
                    </div>
                </div><!-- End row-->
            </div><!-- End strip_list-->
        </div>

        <div th:replace="fragments/cart :: cart(
                        cartRedirectUrl='/payment/take-away',
                        showBtn='false',
                        cart=${order.cart},
                        showRemoveEntryButton='false')">

        </div>

    </div>
    <!-- End col-md-3 -->

</div><!-- End row -->
</div>
<footer th:replace="fragments/footer :: footer"> </footer>

<div th:replace="fragments/layer :: layer"></div>

<div th:replace="fragments/search :: search"></div>

<div th:replace="fragments/scripts :: scripts"></div>

<script  src="/js/cat_nav_mobile.js"></script>
<script>$('#cat_nav').mobileMenu();</script>
<script src="/js/theia-sticky-sidebar.js"></script>
<script src="/js/store-detail.js" />

<script>
    jQuery('#sidebar').theiaStickySidebar({
        additionalMarginTop: 80
    });
</script>
<script>
    $('#cat_nav a[href^="#"]').on('click', function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top - 70
        }, 900, 'swing', function () {
            window.location.hash = target;
        });
    });
</script>

</body>
</html>
