<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head-store-detail">
<body>
<header th:replace="fragments/header :: header" />

<section th:replace="fragments/parallax-window :: parallax-window"></section>

<div th:replace="fragments/bread-crump :: bread-crump" ></div>

<!--MAIN AREA-->

<div class="container margin_60_35">
    <div class="row">

        <div class="col-md-4">
            <p>
                <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a>
            </p>
            <div class="box_style_2">
                <h4 class="nomargin_top">Opening time <i class="icon_clock_alt pull-right"></i></h4>
                <ul class="opening_list">
                    <li th:inline="text"> [[${store.storeAvailableTimes.monday.dayName}]] <span th:text="${store.storeAvailableTimes.monday.openTime +' - '+ store.storeAvailableTimes.monday.closeTime}"></span></li>
                    <li th:inline="text"> [[${store.storeAvailableTimes.tuesday.dayName}]] <span th:text="${store.storeAvailableTimes.tuesday.openTime +' - '+ store.storeAvailableTimes.tuesday.closeTime}"></span></li>
                    <li th:inline="text"> [[${store.storeAvailableTimes.wednesday.dayName}]] <span th:text="${store.storeAvailableTimes.wednesday.openTime +' - '+ store.storeAvailableTimes.wednesday.closeTime}"></span></li>
                    <li th:inline="text"> [[${store.storeAvailableTimes.thursday.dayName}]] <span th:text="${store.storeAvailableTimes.thursday.openTime +' - '+ store.storeAvailableTimes.thursday.closeTime}"></span></li>
                    <li th:inline="text"> [[${store.storeAvailableTimes.friday.dayName}]] <span th:text="${store.storeAvailableTimes.friday.openTime +' - '+ store.storeAvailableTimes.friday.closeTime}"></span></li>
                    <li th:inline="text"> [[${store.storeAvailableTimes.saturday.dayName}]] <span th:text="${store.storeAvailableTimes.saturday.openTime +' - '+ store.storeAvailableTimes.saturday.closeTime}"></span></li>
                    <li th:inline="text"> [[${store.storeAvailableTimes.sunday.dayName}]] <span th:text="${store.storeAvailableTimes.sunday.openTime +' - '+ store.storeAvailableTimes.sunday.closeTime}"></span></li>
                </ul>
            </div>
            <div class="box_style_2 hidden-xs" id="help">
                <i class="icon_lifesaver"></i>
                <h4>Need <span>Help?</span></h4>
                <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                <small>Monday to Friday 9.00am - 7.30pm</small>
            </div>
        </div>

        <div class="col-md-8">
            <div class="box_style_2">
                <h2 class="inner">Description</h2>

                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">
                        Day
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="img/slider_single_restaurant/1_medium.jpg"
                                 data-small="img/slider_single_restaurant/1_small.jpg"
                                 data-medium="img/slider_single_restaurant/1_medium.jpg"
                                 data-large="img/slider_single_restaurant/1_large.jpg"
                                 data-retina="img/slider_single_restaurant/1_large.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="img/slider_single_restaurant/2_medium.jpg"
                                 data-small="img/slider_single_restaurant/2_small.jpg"
                                 data-medium="img/slider_single_restaurant/2_medium.jpg"
                                 data-large="img/slider_single_restaurant/2_large.jpg"
                                 data-retina="img/slider_single_restaurant/2_large.jpg">
                            <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="40" data-show-transition="left">
                                Lorem ipsum dolor sit amet </h3>
                            <p class="sp-layer sp-white sp-padding" data-horizontal="40" data-vertical="100" data-show-transition="left" data-show-delay="200">
                                consectetur adipisicing elit
                            </p>
                            <p class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="160" data-width="350" data-show-transition="left" data-show-delay="400">
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="img/slider_single_restaurant/3_medium.jpg"
                                 data-small="img/slider_single_restaurant/3_small.jpg"
                                 data-medium="img/slider_single_restaurant/3_medium.jpg"
                                 data-large="img/slider_single_restaurant/3_large.jpg"
                                 data-retina="img/slider_single_restaurant/3_large.jpg">
                            <p class="sp-layer sp-white sp-padding" data-position="centerCenter" data-vertical="-50" data-show-transition="right" data-show-delay="500">
                                Lorem ipsum dolor sit amet
                            </p>
                            <p class="sp-layer sp-black sp-padding" data-position="centerCenter" data-vertical="50" data-show-transition="left" data-show-delay="700">
                                consectetur adipisicing elit
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="img/slider_single_restaurant/4_medium.jpg"
                                 data-small="img/slider_single_restaurant/4_small.jpg"
                                 data-medium="img/slider_single_restaurant/4_medium.jpg"
                                 data-large="img/slider_single_restaurant/4_large.jpg"
                                 data-retina="img/slider_single_restaurant/4_large.jpg">
                            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="img/slider_single_restaurant/5_medium.jpg"
                                 data-small="img/slider_single_restaurant/5_small.jpg"
                                 data-medium="img/slider_single_restaurant/5_medium.jpg"
                                 data-large="img/slider_single_restaurant/5_large.jpg"
                                 data-retina="img/slider_single_restaurant/5_large.jpg">
                            <p class="sp-layer sp-white sp-padding" data-vertical="5%" data-horizontal="5%" data-width="90%" data-show-transition="down" data-show-delay="400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="img/slider_single_restaurant/6_medium.jpg"
                                 data-small="img/slider_single_restaurant/6_small.jpg"
                                 data-medium="img/slider_single_restaurant/6_medium.jpg"
                                 data-large="img/slider_single_restaurant/6_large.jpg"
                                 data-retina="img/slider_single_restaurant/6_large.jpg">
                            <p class="sp-layer sp-white sp-padding" data-horizontal="10" data-vertical="10" data-width="300">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="img/slider_single_restaurant/7_medium.jpg"
                                 data-small="img/slider_single_restaurant/7_small.jpg"
                                 data-medium="img/slider_single_restaurant/7_medium.jpg"
                                 data-large="img/slider_single_restaurant/7_large.jpg"
                                 data-retina="img/slider_single_restaurant/7_large.jpg">
                            <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="img/slider_single_restaurant/8_medium.jpg"
                                 data-small="img/slider_single_restaurant/8_small.jpg"
                                 data-medium="img/slider_single_restaurant/8_medium.jpg"
                                 data-large="img/slider_single_restaurant/8_large.jpg"
                                 data-retina="img/slider_single_restaurant/8_large.jpg">
                            <p class="sp-layer sp-black sp-padding" data-horizontal="50" data-vertical="50" data-show-transition="down" data-show-delay="500">
                                Lorem ipsum dolor sit amet
                            </p>
                            <p class="sp-layer sp-white sp-padding" data-horizontal="50" data-vertical="100" data-show-transition="up" data-show-delay="500">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img alt="" class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="img/slider_single_restaurant/9_medium.jpg"
                                 data-small="img/slider_single_restaurant/9_small.jpg"
                                 data-medium="img/slider_single_restaurant/9_medium.jpg"
                                 data-large="img/slider_single_restaurant/9_large.jpg"
                                 data-retina="img/slider_single_restaurant/9_large.jpg">
                        </div>
                    </div>
                    <div class="sp-thumbnails">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/1_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/2_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/3_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/4_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/5_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/6_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/7_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/8_medium.jpg">
                        <img alt="" class="sp-thumbnail" src="img/slider_single_restaurant/9_medium.jpg">
                    </div>
                </div>

                <p th:text="${store.storeInfo.description}">
                </p>
                <div id="summary_review">
                    <div class="row" id="rating_summary">
                        <div class="col-md-6">
                            <ul>
                                <li>Yemek Kalitesi
                                    <div class="rating" th:insert="fragments/stars :: stars(starCount = ${store.reviewSummary.foodQualityPoint})">
                                    </div>
                                </li>
                                <li>Fiyat
                                    <div class="rating" th:insert="fragments/stars :: stars(starCount= ${store.reviewSummary.pricePoint})">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>Zamanlama
                                    <div class="rating" th:insert="fragments/stars :: stars(starCount= ${store.reviewSummary.punctualityPoint})">
                                    </div>
                                </li>
                                <li>Nezaket
                                    <div class="rating" th:insert="fragments/stars :: stars(starCount= ${store.reviewSummary.courtesyPoint})">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- End row -->
                    <hr class="styled">
                    <a href="#" class="btn_1 add_bottom_15" data-toggle="modal" data-target="#myReview" th:if="${showAddCommentButton}">Goruslerini bildir</a>
                </div><!-- End summary_review -->

                <div class="review_strip_single" th:each="comment : ${store.comments}">
                    <img src="/img/avatar1.jpg" alt="" class="img-circle">
                    <small> - <span th:text="${comment.createdTime}"></span> -</small>
                    <h4 th:text="${comment.customerName}"></h4>
                    <p th:text="${comment.message}">
                    </p>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="rating" th:insert="fragments/stars :: stars(starCount= ${comment.foodQualityPoint})">
                            </div>
                            Yemek Kalitesi
                        </div>
                        <div class="col-md-3">
                            <div class="rating" th:insert="fragments/stars :: stars(starCount= ${comment.pricePoint})">
                            </div>
                            Fiyat
                        </div>
                        <div class="col-md-3">
                            <div class="rating" th:insert="fragments/stars :: stars(starCount= ${comment.punctualityPoint})">
                            </div>
                            Zamanlama
                        </div>
                        <div class="col-md-3">
                            <div class="rating" th:insert="fragments/stars :: stars(starCount= ${comment.courtesyPoint})">
                            </div>
                            Nezaket
                        </div>
                    </div>
                </div><!-- End review strip -->
            </div><!-- End box_style_1 -->
        </div>
    </div><!-- End row -->
</div>

<div class="modal fade" id="myReview" tabindex="-1" role="dialog" aria-labelledby="review" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form method="post" action="/store/rate-store" th:object="${rateObject}" name="review" id="review" class="popup-form">
                <input type="hidden" th:field="*{store}">
                <div class="login_icon"><i class="icon_comment_alt"></i></div>
                <input name="restaurant_name" id="restaurant_name" type="hidden" value="Mexican Taco Mex">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control form-white" name="food_review" id="foodQualityPoint" th:field="*{foodQualityPoint}">
                            <option value="0">Yemek Kalitesi</option>
                            <option value="1">Kotu</option>
                            <option value="2">Yeterli</option>
                            <option value="3">Iyi</option>
                            <option value="4">Mukemmel</option>
                            <option value="5">Super</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control form-white"  name="price_review" id="pricePoint" th:field="*{pricePoint}">
                            <option value="0">Fiyat</option>
                            <option value="1">Kotu</option>
                            <option value="2">Yeterli</option>
                            <option value="3">Iyi</option>
                            <option value="4">Mukemmel</option>
                            <option value="5">Super</option>
                        </select>
                    </div>
                </div><!--End Row -->

                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control form-white"  name="punctuality_review" id="punctualityPoint" th:field="*{punctualityPoint}">
                            <option value="0">Zamanlama</option>
                            <option value="1">Kotu</option>
                            <option value="2">Yeterli</option>
                            <option value="3">Iyi</option>
                            <option value="4">Mukemmel</option>
                            <option value="5">Super</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control form-white"  name="courtesy_review" id="courtesyPoint" th:field="*{courtesyPoint}">
                            <option value="0">Nezaket</option>
                            <option value="1">Kotu</option>
                            <option value="2">Yeterli</option>
                            <option value="3">Iyi</option>
                            <option value="4">Mukemmel</option>
                            <option value="5">Super</option>
                        </select>
                    </div>
                </div><!--End Row -->
                <textarea name="review_text" id="review_text" class="form-control form-white" style="height:100px" placeholder="Write your review" th:field="*{message}"></textarea>
                <input type="submit" value="Submit" class="btn btn-submit">
            </form>
            <div id="message-review"></div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"> </footer>

<div th:replace="fragments/layer :: layer"></div>

<div th:replace="fragments/search :: search"></div>

<div th:replace="fragments/scripts :: scripts"></div>

<script  src="/js/cat_nav_mobile.js"></script>
<script>$('#cat_nav').mobileMenu();</script>
<script src="/js/theia-sticky-sidebar.js"></script>
<script src="/js/store-detail.js" />

<script>
    jQuery('#sidebar').theiaStickySidebar({
        additionalMarginTop: 80
    });
</script>
<script>
    $('#cat_nav a[href^="#"]').on('click', function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top - 70
        }, 900, 'swing', function () {
            window.location.hash = target;
        });
    });
</script>
<div id="warning-popup" style="display:none">
    <img src="/img/popup_img.jpg" alt="" class="pop_img" />
    <h3 id="pop_msg">
        Baska bir restourantta sepetiniz bulunmaktadir. Bu sepeti silmek ister misiniz?
    </h3>
    <div>
        <a class="btn_1 add_bottom_15" href="/carts/delete" >Sepeti Sil</a> <a class="btn_1 add_bottom_15" th:href="'/store/'+ ${cart.store.storeId}" >Restouranta Git</a>
    </div>
</div>
<script type="text/javascript" src="/js/pop_up.min.js" th:if="${showPopup}"></script>
<script type="text/javascript" src="/js/pop_up_func.js" th:if="${showPopup}"></script>

</body>
</html>
