<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head-store-detail">
<body>
<header th:replace="fragments/header :: header" />

<div th:replace="fragments/bread-crump :: bread-crump" ></div>

<!--MAIN AREA-->

<div class="container margin_60_35">
    <div class="row">

        <div class="col-md-3">
            <p><a href="list_page.html" class="btn_side">Back to search</a></p>

            <div class="box_style_1">
                <ul id="cat_nav">
                    <li><a href="#starters" class="active">Starters <span>(141)</span></a></li>
                    <li><a href="#main_courses">Main Courses <span>(20)</span></a></li>
                    <li><a href="#beef">Beef <span>(12)</span></a></li>
                    <li><a href="#desserts">Desserts <span>(11)</span></a></li>
                    <li><a href="#drinks">Drinks <span>(20)</span></a></li>
                </ul>
            </div><!-- End box_style_1 -->

            <div class="box_style_2 hidden-xs" id="help">
                <i class="icon_lifesaver"></i>
                <h4>Need <span>Help?</span></h4>
                <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                <small>Monday to Friday 9.00am - 7.30pm</small>
            </div>
        </div><!-- End col-md-3 -->

        <div class="col-md-6">
            <div class="box_style_2">
                <form action="/payment/set-take-away" th:object="${takeAwayForm}" method="post">
                    <input type="datetime-local" th:field="*{date}">
                    <input type="submit">
                </form>
            </div>

            <div class="box_style_2">
                <input type="hidden" id="map_lat" th:value="${cart.store.storeInfo.mapLat}">
                <input type="hidden" id="map_lng" th:value="${cart.store.storeInfo.mapLng}">
                <a id="bicycling-mode" class="btn_1 add_bottom_15">Bisiklet ile yol tarifi</a>
                <a id="transit-mode" class="btn_1 add_bottom_15">Toplu Tasima ile yol tarifi</a>
                <a id="walking-mode" class="btn_1 add_bottom_15">Yurume ile yol tarifi</a>
                <a id="driving-mode" class="btn_1 add_bottom_15">Araba ile yol tarifi</a>
                <div id="map"></div>
                <div id="mapDiv"></div>
            </div><!-- End box_style_1 -->
        </div><!-- End col-md-6 -->

        <div th:replace="fragments/cart :: cart(cartRedirectUrl='/payment', showBtn='false')">

        </div><!-- End col-md-3 -->

    </div><!-- End row -->
</div>
<footer th:replace="fragments/footer :: footer"> </footer>

<div th:replace="fragments/layer :: layer"></div>

<div th:replace="fragments/search :: search"></div>

<div th:replace="fragments/scripts :: take-away"></div>

<script  src="/js/cat_nav_mobile.js"></script>
<script>$('#cat_nav').mobileMenu();</script>
<script src="/js/theia-sticky-sidebar.js"></script>
<script src="/js/store-detail.js" />

<script>
    jQuery('#sidebar').theiaStickySidebar({
        additionalMarginTop: 80
    });
</script>
<script>
    $('#cat_nav a[href^="#"]').on('click', function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top - 70
        }, 900, 'swing', function () {
            window.location.hash = target;
        });
    });
</script>
<div id="warning-popup" style="display:none" data-autoclosable="true">
    <input type="hidden" id="autoclosable-element" th:value="true" >
    <img src="/img/popup_img.jpg" alt="" class="pop_img" />
    <h3 id="pop_msg">
        Secmis oldugunuz tarih, Menunun yapilis tarihine cok yakin.
    </h3>
    <p th:each="cartEntry : ${cart.cartEntries}" >
        <span th:text="${cartEntry.menuDTO.title}"></span>
        <strong th:text="${cartEntry.menuDTO.maxMakeTime} +' dakika'"></strong>
    </p>

    <div>
        <a class="btn_1 add_bottom_15" id="close-popup" href="#" >Kapat</a>
    </div>
</div>
<script type="text/javascript" src="/js/pop_up.min.js" th:if="${showPopup}"></script>
<script type="text/javascript" src="/js/pop_up_func.js" th:if="${showPopup}"></script>

</body>
</html>
