<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags">


<head>
    <div th:replace="fragments/header :: header-css"/>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>

<body class="">
<div class="wrapper ">

    <div th:replace="fragments/sidebar :: sidebar"/>

    <div class="main-panel">
        <!-- Navbar -->

        <div th:replace="fragments/navbar :: navbar"/>

        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Urun Olustur</h4>
                                <p class="card-category"> </p>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/product/save}" th:object="${product}" method="post">
                                    <input  type="hidden" class="form-control" th:field="*{id}" id="product-id" >
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Adi </label>
                                                <input  type="text" class="form-control" th:field="*{name}"  >
                                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Baslik Bos olmamalidir</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Kategori Adi</label>
                                                <select class="form-control" th:field="*{categoryId}" >
                                                    <option th:value="0">Kategori sec</option>
                                                    <option th:each="category : ${categories}" th:value="${category.id}"  th:selected="${category.id eq product.categoryId}" th:text="${category.text}" ></option>
                                                </select>
                                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{categoryId}">Ad bos olmamali</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Urun Kodu</label>
                                                <input  type="text" class="form-control" th:field="*{code}"  >
                                                <p th:if="${#fields.hasErrors('title')}" th:errors="*{code}">Baslik Bos olmamalidir</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Yapilis Suresi</label>
                                                <input  type="number" class="form-control" th:field="*{makeTime}"  >
                                                <p th:if="${#fields.hasErrors('makeTime')}" th:errors="*{makeTime}">Yapilis suresi alani bos olmamalidir</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Satilabilir  </label>
                                                <input  type="checkbox" class="form-control" th:field="*{sellable}"  >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Baslik</label>
                                                <input  type="text" class="form-control" th:field="*{title}"  >
                                                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Baslik bos olmamalidir</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Aciklama </label>
                                                <textarea  class="form-control" th:field="*{description}"  />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Fiyat</label>
                                                <input  type="number" class="form-control" th:field="*{price}"  >
                                                <p th:if="${#fields.hasErrors('title')}" th:errors="*{price}">Baslik bos olmamalidir</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Secenek Ekle</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="card">
                                                <div class="card-header card-header-tabs card-header-primary">
                                                    <div class="nav-tabs-navigation">
                                                        <div class="nav-tabs-wrapper">
                                                            <span class="nav-tabs-title">Secenekler:</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="profile">
                                                            <table class="table">
                                                                <tbody id="options">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary pull-right">Kaydet</button>
                                    <div class="clearfix"></div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer"/>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-md-5">
                                    <input type="text" id="option-name" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <input type="radio" name="option-type" value="ONE_SELECT"> Tek Seci11m<br>
                                    <input type="radio" name="option-type" value="MULTIPLE_SELECT"> Coklu Secim<br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" id="option-value-code" placeholder="Kod"/>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="option-value-name" placeholder="Adi "/>
                                </div>
                                <div class="col-md-3">
                                    <input type="number" id="option-value-price" placeholder="Fiyat" value="0"/>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-info btn-sm" id="add-option-value" >Ekle </button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped" >
                                        <tbody id="added-options">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-default" id="save-option">Kaydet</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/importjs :: importjs"/>
<script src="/js/core/product.js" type="text/javascript"></script>
</body>

</html>
