<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags">


<head>
    <div th:replace="fragments/header :: header-css"/>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>

<body class="">
<div class="wrapper ">

    <div th:replace="fragments/sidebar :: sidebar"/>

    <div class="main-panel">
        <!-- Navbar -->

        <div th:replace="fragments/navbar :: navbar"/>

        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Menu Olustur</h4>
                                <p class="card-category"> </p>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/menu/save}" th:object="${menu}" method="post" enctype="multipart/form-data">

                                    <input  type="hidden" class="form-control" th:field="*{id}" id="menu-id" />

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Adi </label>
                                                <input  type="text" class="form-control" th:field="*{name}"  >
                                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Baslik Bos olmamalidir</p>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Kategori Adi</label>
                                                <select class="form-control" th:field="*{categoryId}" >
                                                    <option th:value="0">Kategori sec</option>
                                                    <option th:each="category : ${categories}" th:value="${category.id}"  th:selected="${category.id eq menu.categoryId}" th:text="${category.text}" ></option>
                                                </select>
                                                <p th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}">Kategory Secilmeli</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Fiyat</label>
                                                <input  type="text" class="form-control" th:field="*{price}"  >
                                                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Fiyat bos olmamalidir</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Baslik</label>
                                                <input  type="text" class="form-control" th:field="*{title}"  >
                                                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Baslik Bos olmamalidir</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Aciklama </label>
                                                <textarea  class="form-control" th:field="*{description}"  />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Satilabilir  </label>
                                                <input  type="checkbox" class="form-control" th:field="*{sellable}"  >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Menu Urunler  </label>
                                                <input type="text" class="autocomplete form-control" id="add-product" list="json-datalist" data-toggle="dropdown" />
                                                <a id="add-product-btn" class="btn btn-primary btn-round">Ekle<div class="ripple-container"></div></a>
                                                <datalist id="json-datalist"></datalist>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="card">
                                                <div class="card-header card-header-tabs card-header-primary">
                                                    <div class="nav-tabs-navigation">
                                                        <div class="nav-tabs-wrapper">
                                                            <span class="nav-tabs-title">Urunler:</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="profile">
                                                            <table class="table">
                                                                <tbody id="added-products">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Resim</label>
                                            <input type="file" th:field="*{image}" class="form-control" />
                                            <button id='btn-upload'>Upload</button>
                                            <img th:attr="src=@{'data:image/jpg;base64,'+ ${menu.imageStr}}" alt="" id="selectedImage" width="100px" height="100px">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <label class="bmd-label-floating">Kategori Adi</label>
                                            <select class="form-control" th:field="*{foodCategoryId}" >
                                                <option th:value="0">Yemek Kategorisi sec</option>
                                                <option th:each="foodCategory : ${foodCategories}" th:value="${foodCategory.id}"  th:selected="${foodCategory.id eq menu.foodCategoryId}" th:text="${foodCategory.name}" ></option>
                                            </select>
                                            <p th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}">Kategory Secilmeli</p>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary pull-right">Kaydet</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>

            <div th:replace="fragments/footer :: footer"/>

        </div>
    </div>
</div>

<div th:replace="fragments/importjs :: importjs"/>

<script src="/js/core/store-info.js" type="text/javascript"></script>
<script src="/js/core/menu.js" type="text/javascript"></script>
</body>

</html>
