<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags">


<head>
    <div th:replace="fragments/header :: header-css"/>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>

<body class="">
<div class="wrapper ">

    <div th:replace="fragments/sidebar :: sidebar"/>

    <div class="main-panel">
        <!-- Navbar -->

        <div th:replace="fragments/navbar :: navbar"/>

        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Urunler</h4>
                                <p class="card-category"> <a th:href="@{'/product/save'}"> Urun Ekle </a> </p>
                                <form class="navbar-search" method="post" th:action="@{/product/search}" th:object="${productSearchForm}">
                                    <input type="text" class="search-query" placeholder="Search here" th:field="*{productName}"  />
                                    <input id="mySubmit" type="submit" value="Go" class="hidden" />
                                </form>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <th> ID </th>
                                        <th> Urun Adi </th>
                                        <th> Urun Baslik </th>
                                        <th> Duzenle </th>
                                        <th> Kaldir </th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="product : ${products}">
                                            <td th:text="${product.id}"></td>
                                            <td th:text="${product.name}"></td>
                                            <td th:text="${product.title}"></td>
                                            <td><a th:href="@{'/product/edit/'+ ${product.id}}" >Duzenle</a></td>
                                            <td><a th:href="@{'/product/remove/'+ ${product.id}}" >Sil</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer"/>

        </div>
    </div>
</div>

<div th:replace="fragments/importjs :: importjs"/>

</body>

</html>
