<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags">


<head>
    <div th:replace="fragments/header :: header-css"/>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>

<body class="">
<div class="wrapper ">

    <div th:replace="fragments/sidebar :: sidebar"/>

    <div class="main-panel">
        <!-- Navbar -->

        <div th:replace="fragments/navbar :: navbar"/>

        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Kategoriler</h4>
                                <p class="card-category"> <a th:href="@{'/category/save'}"> Kategory Ekle </a> </p>
                                <form class="navbar-search" method="post" th:action="@{/category/search}" th:object="${categorySeachForm}">
                                    <input type="text" class="search-query" placeholder="Search here" th:field="*{categoryName}"  />
                                    <input id="mySubmit" type="submit" value="Go" class="hidden" />
                                </form>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th> ID </th>
                                            <th> Kategori Adi </th>
                                            <th> Kategori Baslik </th>
                                            <th> Duzenle </th>
                                            <th> Kaldir </th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="category : ${categories}">
                                                <td th:text="${category.id}"></td>
                                                <td th:text="${category.name}"></td>
                                                <td th:text="${category.text}"></td>
                                                <td><a th:href="@{'/category/edit/'+ ${category.id}}" >Duzenle</a></td>
                                                <td><a th:href="@{'/category/remove/'+ ${category.id}}" >Sil</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer"/>

        </div>
    </div>
</div>

<div th:replace="fragments/importjs :: importjs"/>

</body>

</html>
