<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/j_spring_security_check}" method="POST" class="form-signin">
    <h3 class="form-signin-heading" th:text="Welcome"></h3>
    <br/>

    <input type="text" id="email" name="email"  th:placeholder="Email"
           class="form-control" /> <br/>
    <input type="password"  th:placeholder="Password"
           id="password" name="password" class="form-control" /> <br />

    <div align="center" th:if="${param.error}">
        <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
    </div>
    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
</form>
</body>
</html>