<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags">


<head>
    <div th:replace="fragments/header :: header-css"/>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>

<body class="">
<div class="wrapper ">

    <div th:replace="fragments/sidebar :: sidebar"/>

    <div class="main-panel">
        <!-- Navbar -->

        <div th:replace="fragments/navbar :: navbar"/>

        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-4" th:each="entry : ${order.cart.cartEntries}">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title " th:text="${entry.menuDTO.name}"></h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <p>Adet <strong class="pull-right">5</strong></p>
                                    <div th:each="option : ${entry.options}">
                                        <span th:each="value : ${option.selectedValues}" th:text="${value.text} +','"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4 pull-right">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title " >Tutar</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div th:replace="fragments/footer :: footer"/>

        </div>
    </div>
</div>

<div th:replace="fragments/importjs :: importjs"/>

</body>

</html>
