<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags">


<head>
    <div th:replace="fragments/header :: header-css"/>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>

<body class="">
<div class="wrapper ">

    <div th:replace="fragments/sidebar :: sidebar"/>

    <div class="main-panel">
        <!-- Navbar -->

        <div th:replace="fragments/navbar :: navbar"/>

        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Siparisler</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <th> ID </th>
                                        <th> Siparis Tutar </th>
                                        <th> Siparis Durumu</th>
                                        <th> Siparis Ilerletme</th>
                                        <th> Siparis Detay</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="order : ${orders}">
                                            <td th:text="${order.id}"></td>
                                            <td th:text="${order.cart.totalPrice}"></td>
                                            <td th:if="${order.status eq 'WAITING'}">Bekliyor</td>
                                            <td th:if="${order.status eq 'PREPAIRING'}">Hazirlaniyor</td>
                                            <td th:if="${order.status eq 'READY'}">Hazir</td>
                                            <td th:if="${order.status eq 'COMPLETED'}">Tamamlandi</td>

                                            <td th:if="${order.status eq 'WAITING'}"><a th:href="@{'/orders/to-prepairing/'+ ${order.id}}" >Hazirlaniyor Durumuna Al</a></td>
                                            <td th:if="${order.status eq 'PREPAIRING'}"><a th:href="@{'/orders/to-ready/'+ ${order.id}}" >Hazir Durumuna Al</a></td>
                                            <td th:if="${order.status eq 'READY'}"><a th:href="@{'/orders/to-delivered/'+ ${order.id}}" >Tamamlandi Durumuna Al</a></td>
                                            <td th:if="${order.status eq 'COMPLETED'}"></td>
                                            <td><a th:href="@{'/orders/'+ ${order.id}}" >Siparis Detay</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer"/>

        </div>
    </div>
</div>

<div th:replace="fragments/importjs :: importjs"/>

</body>

</html>
