<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-3" id="sidebar" th:fragment="cart">
    <div class="theiaStickySidebar">
        <div id="cart_box" th:if="${cart ne null}">
            <h3>SEPETİNİZ<i class="icon_cart_alt pull-right"></i></h3>
            <table class="table table_summary">
                <tbody>
                <tr th:each="cartEntry : ${cart.cartEntries}">
                    <div th:if="${cartEntry.productDTO ne null}">
                        <td>
                            <a th:href="'/carts/remove-entry/'+ ${cartEntry.id}" class="remove_item" th:if="${showRemoveEntryButton eq 'true'}">
                                <i class="icon_minus_alt"></i>
                            </a>
                            <strong th:text="${cartEntry.quantity}"></strong>
                            <span th:text="${cartEntry.productDTO.title}" />
                        </td>
                        <td>
                            <strong class="pull-right" th:text="'₺'+${cartEntry.price}"></strong>
                        </td>
                    </div>

                    <div th:if="${cartEntry.menuDTO ne null}">
                        <td>
                            <a th:href="'/carts/remove-entry/'+ ${cartEntry.id}" class="remove_item" th:if="${showRemoveEntryButton eq 'true'}">
                                <i class="icon_minus_alt"></i>
                            </a>
                            <strong th:text="${cartEntry.quantity}"></strong>
                            <span th:text="${cartEntry.menuDTO.title}" />
                        </td>
                        <td>
                            <strong class="pull-right" th:text="'₺'+${cartEntry.price}"></strong>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
            <hr>

            <table class="table table_summary">
                <tbody>
                <tr>
                    <td>
                        ARA TOPLAM <span class="pull-right" th:text="'₺'+${cart.totalPrice}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="total">
                        TOPLAM <span class="pull-right" th:text="'₺'+${cart.totalPrice}">$66</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr th:if="${showBtn eq true}">
            <a class="btn_full" th:href="${cartRedirectUrl}" th:if="${showBtn eq 'true'}">Sepeti Onayla</a>
        </div><!-- End cart_box -->
    </div><!-- End theiaStickySidebar -->
</div>
</body>
</html>
