<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="parallax-window" class="parallax-window" data-parallax="scroll" data-image-src="/img/sub_header_2.jpg" data-natural-width="1400" data-natural-height="470">
    <div id="subheader">
        <div id="sub_content">
            <div id="thumb"><img th:attr="src=@{'data:image/png;base64,'+ ${store.storeInfo.image}}" alt=""></div>
            <div class="rating"><div class="rating" th:insert="fragments/stars :: stars(starCount= ${store.reviewSummary.totalAvarage})"></div>
            <h1 th:text="${store.name}"></h1>
            <div><i class="icon_pin"></i> <span th:text="${store.storeInfo.address}"> </span> </div>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section>
</body>
</html>
